<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contacto</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section>
		<section class="follow">
			<h2>Sígueme</h2>
			<ul>
				<li><a title="Redbubble" href="{{ site.redbubble }}" target="_blank">Redbubble</a></li>
				<li><a title="Instagram" href="{{ site.instagram }}" target="_blank">Instagram</a></li>
			</ul>
		</section>
		<section class="developer">
				<h2>Desarrollador</h2>
			<a href="{{ site.developerGH }}">Hecho con ♥️ por mavilam</a><br/>
		</section>
	</div>
</footer>
